<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

    <div th:replace="navbar :: copy"></div>

    <div th:replace="collections/active-collection :: copy"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10 text-center">
                <h2>Nem akarsz várni? Fektess ingatlanba azonnal!</h2>
            </div>
            <div class="col-md-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">13. kerület, Reitter Ferenc utca</div>
                    <div class="panel-body c">

                        <img src="http://ingatlancdn.com/photos/08/44/22839156_110816158_l.jpg" class="img-thumbnail" alt="13. kerületi befektetésünk" width="304" height="236" />
                        <br/>

                        <div class="td-2 b">Méret</div>
                        <div class="td-2">19 nm</div>

                        <div class="td-2 b newline nomargin">Bruttó megtérülés</div>
                        <div class="td-2 nomargin">13 év</div>

                        <div class="td-2 b newline nomargin">Részesedés</div>
                        <div class="td-2 nomargin">1%</div>

                        <div class="td-2 b newline nomargin"> Ár</div>
                        <div class="td-2 nomargin">120 000 HUF</div>

                        <div class="td-2 b newline nomargin">Havi hozam</div>
                        <div class="td-2 nomargin">520 HUF</div>

                        <div class="td-2 b newline nomargin">Bérlő</div>
                        <div class="td-2 nomargin">99%</div>

                        <div class="td-1 c newline">
                            <a class="btn btn-success" href="/registration">Megveszem!</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">13. kerület, Angyalföld</div>
                    <div class="panel-body c">

                        <img src="http://ingatlancdn.com/photos/2f/17/23062668_110979701_l.jpg" class="img-thumbnail" alt="13. kerületi befektetésünk" width="304" height="236" />
                        <br/>

                        <div class="td-2 b">Méret</div>
                        <div class="td-2">17 nm</div>

                        <div class="td-2 b newline nomargin">Bruttó megtérülés</div>
                        <div class="td-2 nomargin">14 év</div>

                        <div class="td-2 b newline nomargin">Részesedés</div>
                        <div class="td-2 nomargin">1%</div>

                        <div class="td-2 b newline nomargin"> Ár</div>
                        <div class="td-2 nomargin">120 000 HUF</div>

                        <div class="td-2 b newline nomargin">Havi hozam</div>
                        <div class="td-2 nomargin">500 HUF</div>

                        <div class="td-2 b newline nomargin">Bérlő</div>
                        <div class="td-2 nomargin">100%</div>

                        <div class="td-1 c newline">
                            <a class="btn btn-success" href="/registration">Megveszem!</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">14. kerület, Szugló utca 64</div>
                    <div class="panel-body c">

                        <img src="http://ingatlancdn.com/photos/be/f2/22979252_110161242_l.jpg" class="img-thumbnail" alt="13. kerületi befektetésünk" width="304" height="236" />
                        <br/>

                        <div class="td-2 b">Méret</div>
                        <div class="td-2">35 nm</div>

                        <div class="td-2 b newline nomargin">Bruttó megtérülés</div>
                        <div class="td-2 nomargin">12 év</div>

                        <div class="td-2 b newline nomargin">Részesedés</div>
                        <div class="td-2 nomargin">1%</div>

                        <div class="td-2 b newline nomargin"> Ár</div>
                        <div class="td-2 nomargin">120 000 HUF</div>

                        <div class="td-2 b newline nomargin">Havi hozam</div>
                        <div class="td-2 nomargin">520 HUF</div>

                        <div class="td-2 b newline nomargin">Bérlő</div>
                        <div class="td-2 nomargin">100%</div>

                        <div class="td-1 c newline">
                            <a class="btn btn-success" href="/registration">Megveszem!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>

</body>
</html>