<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>

<body>

<div th:replace="navbar :: copy"></div>

<div class="jumbotron text-center">
    <h1>Dashboard</h1>
    <div class="td-2 c title">
        Pénztárcád
    </div>
    <div class="td-2 c b" th:text="${user.formatMoney(user.getCash())+' HUF'}"></div>

    <div class="td-2 c title newline">
        Befektetéseid <a href="/investments"><span class="glyphicon glyphicon-th-list"></span></a>
    </div>
    <div class="td-2 c b" th:text="${user.countInvestments()+' db'}"></div>

    <div class="td-2 c title newline">
        Shareholdjaid <a href="/shareholds"><span class="glyphicon glyphicon-th-list"></span></a>
    </div>
    <div class="td-2 c b" th:text="${user.getShareholds()+' db'}"></div>


    <div class="td-2 c title newline">
        Havi bruttó hozamod
    </div>
    <div class="td-2 c b" th:text="${user.getAllIncome() + ' HUF'}"></div>

    <div class="td-2 newline title">
        Albérlőid átlag megbízhatósága
    </div>
    <div class="td-2 b c">
        99.8%
    </div>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>