<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>

<body>

<div th:replace="navbar :: copy"></div>

<div class="jumbotron text-center">
    <div class="alert alert-success" th:if="${success != null}">Sikeres regisztráció</div>

    <h1>Regisztráció</h1>
    <form action="/registration" method="post">
        <div class="td-2 title">
            Felhasználónév
        </div>
        <div class="td-2">
            <input type="text" name="user" class="form-control half" />
        </div>

        <div class="td-2 title newline">
            Jelszó
        </div>
        <div class="td-2">
            <input type="password" name="password" class="form-control half" />
        </div>

        <div class="td-2 title newline">
            Jelszó megismétlése
        </div>
        <div class="td-2">
            <input type="password" name="password2" class="form-control half" />
        </div>

        <div class="td-2 title">
            E-mail
        </div>
        <div class="td-2">
            <input type="email" name="email" class="form-control half" />
        </div>

        <div class="td-1">
            <button type="submit" class="btn btn-success">Bejelentkezés</button>
        </div>
    </form>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>