<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-default upNavbar" th:fragment="copy">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Investify</a>
    </div>

    <div>
        <ul th:if="${user.getId() == 0}" class="nav navbar-nav">
            <li th:class="${page == 'INDEX'} ? 'active' : ''"><a href="/">Főoldal</a></li>
            <li th:class="${page == 'FAQ'} ? 'active' : ''"><a href="/faq">Rendszerünk működése</a></li>
        </ul>
        <ul th:if="${user.getId() > 0}" class="nav navbar-nav">
            <li th:class="${page == 'INDEX'} ? 'active' : ''"><a href="/">Dashboard</a></li>
            <li th:class="${page == 'INVESTMENTS'} ? 'active' : ''"><a href="/investments">Befektetéseid</a></li>
            <li th:class="${page == 'SHAREHOLDS'} ? 'active' : ''"><a href="/shareholds">Shareholdjaid</a></li>
            <li th:class="${page == 'MARKET'} ? 'active' : ''"><a href="/market">Eladó Shareholdok</a></li>
            <li th:class="${page == 'COLLECTIONS'} ? 'active' : ''"><a href="/collections">Gyűjtések</a></li>
        </ul>
    </div>

    <div class="mnavbar-right" th:switch="${user.getId()}">
        <div th:case="0">
            <a href="/registration" class="btn btn-info">Regisztráció</a>
            <a href="/login" class="btn btn-success">Belépés</a>
        </div>
        <div th:case="*">
            <a class="btn btn-success" href="/payin">Befizetés</a>
            <a class="btn btn-danger" href="/logout">Kijelentkezés</a>
        </div>
    </div>
</nav>

</body>
</html>