<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

    <div th:replace="navbar :: copy"></div>

    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">

            <h1>Shareholdjaid</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sharehold</th>
                    <th>Kép</th>
                    <th>Ingatlan</th>
                    <th>Méret</th>
                    <th>Vétel ár</th>
                    <th>Eladási ár</th>
                    <th>Havi bruttó hozam</th>
                    <th>Megvásárolva</th>
                    <th>Eladva</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sharehold, iterationStatus : ${shareholds}" th:id="'house'+${sharehold.getHouse().getId()}">
                    <td class="b" th:text="${sharehold.getSharehold()+' %'}"></td>
                    <td th:if="${sharehold.getHouse().getPictures().size() > 0}">

                        <a data-toggle="modal" data-target="#picModal" class="galleryLink">
                            <img class="img-thumbnail clickable" width="100"
                                 th:src="${sharehold.getHouse().getPictures().get(0).getUrl()}"
                                 th:alt="${sharehold.getHouse().getPictures().get(0).getDescription()}" />
                        </a>

                    </td>
                    <td class="tdAddress" th:text="${sharehold.getHouse().getZipCode() + ' ' + sharehold.getHouse().getCity() + ', ' + sharehold.getHouse().getAddress()}"></td>
                    <td th:text="${sharehold.getHouse().getArea()+' nm'}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getBoughtPrice())}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getSoldPrice())}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getMonthlyIncome())+' HUF'}"></td>
                    <td th:text="${sharehold.getBoughtDate()}"></td>
                    <td th:if="${sharehold.getSoldPrice() != 0}" th:text="${sharehold.getSoldDate()}"></td>
                    <td th:if="${sharehold.getSoldPrice() == 0}">
                        <input type="hidden" th:id="'shareholds'+${sharehold.getHouse().getId()}" th:value="${sharehold.getMaxSellable()}" />
                        <input type="hidden" th:id="'boughtPrice'+${sharehold.getHouse().getId()}" th:value="${sharehold.getBoughtPrice()}" />
                        <button th:if="${sharehold.isSellable()}" class="btn btn-success sell" data-toggle="modal" data-target="#sell-modal">Eladás</button>
                        <span th:if="${!sharehold.isSellable()}" class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1">

        </div>
    </div>

    <div th:if="${user.hasShareholdForSale()}" class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">

            <h1>Eladó shareholdjaid</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sharehold</th>
                    <th>Kép</th>
                    <th>Ingatlan</th>
                    <th>Méret</th>
                    <th>Vétel ár</th>
                    <th>Eladási ár</th>
                    <th>Havi bruttó hozam</th>
                    <th>Megvásárolva</th>
                    <th>Eladva</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sharehold, iterationStatus : ${shareholdsForSale}" th:id="'house'+${sharehold.getHouse().getId()}">
                    <td class="b" th:text="${sharehold.getSharehold()+' %'}"></td>
                    <td th:if="${sharehold.getHouse().getPictures().size() > 0}">

                        <a data-toggle="modal" data-target="#picModal" class="galleryLink">
                            <img class="img-thumbnail clickable" width="100"
                                 th:src="${sharehold.getHouse().getPictures().get(0).getUrl()}"
                                 th:alt="${sharehold.getHouse().getPictures().get(0).getDescription()}" />
                        </a>

                    </td>
                    <td class="tdAddress" th:text="${sharehold.getHouse().getZipCode() + ' ' + sharehold.getHouse().getCity() + ', ' + sharehold.getHouse().getAddress()}"></td>
                    <td th:text="${sharehold.getHouse().getArea()+' nm'}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getBoughtPrice()*sharehold.getSharehold())}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getSoldPrice())}"></td>
                    <td th:text="${sharehold.formatMoney(sharehold.getMonthlyIncome())+' HUF'}"></td>
                    <td th:text="${sharehold.getBoughtDate()}"></td>
                    <td th:if="${sharehold.getSoldPrice() != 0}" th:text="${sharehold.getSoldDate()}"></td>
                    <td th:if="${sharehold.getSoldPrice() == 0}">
                        <a class="btn btn-success sell" th:href="'/market/delete/'+${sharehold.getId()}">Hirdetés törlése</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1">

        </div>
    </div>


    <div th:replace="footer :: copy"></div>

    <div id="picModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="picmodal-title" class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body c">
                    <img src="/img/ring.gif" alt="loader" id="picmodal-img" />
                </div>
            </div>

        </div>
    </div>

    <div id="sell-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="sell-modal-title" class="modal-title">Sharehold eladása</h4>
                </div>
                <div class="modal-body c">

                    <form id="market-form" method="post">
                        <input type="hidden" name="id" id="id" value="0" />
                        <input type="hidden" name="boughtPrice" id="boughtPrice" value="0" />
                        <label for="quantity">Mennyiség: (max. <span id="max-quantity-span">4</span>)</label><br/>
                        <input type="number" name="quantity" min="0" id="quantity" placeholder="pl.: 1" class="form-control half block-c" /><br/>
                        <button type="submit" class="btn btn-success">Eladás</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</body>
</html>